name: CI/CD Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        # Lệnh này sẽ gọi đến Render để yêu cầu cập nhật bản build mới nhất
        run: curl https://api.render.com/deploy/srv-d50tllnfte5s739lpo7g?key=3QHyD5wFiVc
